<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/search-clothes.css}" />
    <title>衣類検索</title>
  </head>
  <body>
    <h1>衣類検索</h1>
    <form
      th:action="@{/searchClothes/search}"
      th:object="${ClotheForm}"
      method="post"
    >
      <div class="form-container">
        <div class="left-container">
          <span
            ><input
              type="radio"
              value="0"
              name="gender"
              id="man"
              th:checked="${gender == 0}"
            /><label for="man">Man</label></span
          >
          <span
            ><input
              type="radio"
              value="1"
              name="gender"
              id="woman"
              th:checked="${gender == 1}"
            /><label for="woman">Woman</label></span
          >
          <button>検索</button>
        </div>
        <div class="right-container">
          <select name="color">
            <option
              th:each="color: ${application.colors}"
              name="color"
              th:value="${color.key}"
              th:text="${color.value}"
              th:selected="${color.key == selectedColorKey}"
            ></option>
          </select>
        </div>
      </div>
    </form>
    <br />
    <span th:if="${hasBeenSearched == true && clothes.size == 0}"
      >検索結果はありません</span
    >
    <br />
    <table th:each="clothe: ${clothes}" border="1">
      <tr>
        <td>ジャンル</td>
        <td th:text="${clothe.genre}"></td>
      </tr>
      <tr>
        <td>サイズ</td>
        <td th:text="${clothe.size}"></td>
      </tr>
      <tr>
        <td>価格</td>
        <td th:text="${#numbers.formatInteger(clothe.price, 0, 'COMMA')}"></td>
      </tr>
    </table>
    <br />
  </body>
</html>
